BODY{
  background-image:url(istockphoto-857505542-170667a.jpg);
    width: 100%;
    height: 100%;
}
#foto{ display: flex;
flex-wrap: wrap;
padding-bottom: 10%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: left 40%; ;
    background-color: rgb(175, 140, 64);
  }
  * {
    padding: 0;
    margin: 0;
  }
  .text {
    position: absolute;
    margin-left: 1550px;
    margin-top: 11px;
    color: #020202;
    text-align: end;
  }
  .text2 {
    position: absolute;
    right: 0;
    margin-right: 105px;
    margin-top: 11px;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 300px;
  }
  .textMain {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(175, 140, 64);
    width: 27.6%;
    height: 500px;
    border-radius: 20px;
    flex-wrap: wrap;
    color: #ffffff;
  }
  img {
    border-radius: 20px;
  }
  .flexContainer {
    margin-right: 20px;
    margin-left: 60px;
    display: flex;
    gap: 30px;
  }
  .adoteUmAmigo {
    background-image:url(./wp7919900.jpg);
    width: 100%;
    height: 100%;
  }
  .cardContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(175, 140, 64);
    width: 22%;
    height: 500px;
    border-radius: 20px;
    flex-wrap: wrap;
    color: #ffffff;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }
  .textApoie {
    text-align: justify;
    align-self: center;
    margin-left: 30px;
    margin-bottom: 100px;
    font-size: 28px;
  }
  .apoieTextDiv {
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  button {
    height: 40px;
    margin-top: 140px;
    margin-right: 70px;
    width: 120px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgb(175, 140, 64);
    border: none;
  }
  button:hover {
    cursor: pointer;
  
    background-color: blueviolet;
  }
  .containerFlexFinal {
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .containerImg {
    display: flex;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: larger;
  }
  a:hover {
    color: blueviolet;
  }
  .fim{
    margin-left: 40%;
  }
  
  